@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.sketch {
    width: 100%;
    height: 100%;
}

.board {
    width: 100%;
    height: 100%;
}
